
@using (Html.BeginForm()){
<input type="text" name="soA">
<input type="text" name="soB">
<input type="submit" value="tinh">
<input type="text" name="name">
<input type="text" name="age">
<input type="submit" value="Nhap Thong Tin" />

<span>@ViewBag.result</span>
}
